// Colors
$kaldi-red: #FD461E
$kaldi-red-invert: #fff

$yellow: #FFD500
$yellow-light: #FFEC5B

$cyan: #01FFFF
$cyan-light: #B0FFFF

$blue: #3F4B78

$accent: $yellow
$warning: $yellow-light
$white-ter: #EDF0F3

$primary: $accent
$primary-invert: $kaldi-red-invert

$text: $black !default

// Body
$body-size: 18px !default
$body-line-height: 2 !default

// Container
$container-offset: (2 * $gap) !default

// Link
$link: $black!default

// Navbar
$navbar-item-color: $black
$navbar-item-hover-color: $black

// Footer
$footer-background-color: $white-ter

// Border
$b-radius: .1875rem
